@font-face {
  font-family: 'norse-bold';
  src: url('Norse-Bold.otf') format('truetype');
  font-weight: bold;
  font-style: normal;
}


* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-container {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.big-image { 
  position: relative;
  width: 350px;
  height: 100%;
  overflow: hidden;
  flex-shrink: 0;
}

.big-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.logo-background{
  object-fit: contain;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  top: 150px; /* positioning the logo */
  left: 0;
  width: 350px;
  height: 100px;
  background-color: rgba(0, 0, 0, 0.5);
  background-position: center;
}
.logo-background img{
  height: 80px;
  width: 70px;
  object-fit: contain;
}
.logo-background p{
  font-family: "norse-bold";
  color: white;
  font-size: 60px;
  font-weight: bold;
}
footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  color: white;
  text-shadow: #2b2222 1px 1px 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 10px;
}
footer a {
  color: white;
  text-decoration: none;
}
.form-zone {
  width: calc(100% - 350px);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  
}

.intro{
  padding: 40px;
  justify-content: left;
  align-items: left;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: bold;
  font-size: 15px;
  width: 70%;
  border: 1px solid black;
  margin-bottom: 20px;
}

form {
    padding: 25px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 250px;
    width: 100%;
    font-family: sans-serif;
    border: none;
    box-shadow: 0px 5px 5px #e0dede, 0px -1px 3px #e0dede;
  }
legend {
    font-size: 15px;
    margin-bottom: 10px;
  }

  .first-column,
  .second-column {
    display: flex;
    flex-direction: column;
    width: 48%;
    border: 1px solid black;
    padding-right: 50px;
  }
label {
    font-size: 10px;
    margin-top: 15px;
    font-weight: bold;
    color: #5a5a5a;
  }
  input{
    padding: 3px;
  }
  input:valid {
    border: 1px solid #E5E7EB;
    border-radius: 4px;
  }
  input:invalid {
    border: 1px solid red;
    border-radius: 4px;
  }
  
  fieldset {
    display: flex;
    flex-direction: row;
    height: 190px;
    border: none;
    width: 80%;
  }
  
  legend {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  button {
    padding: 8px;
    margin-top: 30px;
    margin-left: 40px;
    margin-bottom: 10px;
    width: 150px;
    background-color: #596D48;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0px 5px 5px #e0dede, 0px -1px 3px #e0dede;  
  }
  
  button:hover {
    background-color: darkgreen;
  }
  .login{
    margin-left: 40px;
    margin-top: 0px;
    font-family: sans-serif;
    font-size: 12px;
  }
  .login a{
    color: #596D48;
    text-decoration: none;
    font-weight: bold;
  }